<mat-list class="about">
  <mat-list-item class="about__item">
    <mat-icon class="about__icon" matListIcon color="primary">
      <i class="fas fa-user-tie"></i>
    </mat-icon>
    <h3 class="about__header" matLine> This site was designed and developed by: 
      <span class="about__name">Vladimir Dobrik</span>
    </h3>
  </mat-list-item>

  <mat-list-item class="about__item">
      <mat-icon class="about__icon" matListIcon color="primary">
        <i class="fab fa-github"></i>
      </mat-icon>
      <h3 class="about__header" matLine> GitHub URL </h3>
      <a class="about__link" matLine href="https://github.com/vladimirDobrik/Vladimir_Dobrik-project">
        <span>https://github.com/vladimirDobrik/Vladimir_Dobrik-project</span>
      </a>
  </mat-list-item>

  <mat-list-item class="about__item">
      <mat-icon class="about__icon" matListIcon color="primary">
        <i class="fab fa-github-alt"></i>
      </mat-icon>
      <h3 class="about__header" matLine> GitHub Pages </h3>
      <a class="about__link" matLine href="https://github.com/vladimirDobrik/Vladimir_Dobrik-project">
        <span>https://github.com/vladimirDobrik/Vladimir_Dobrik-project</span>
      </a>
  </mat-list-item>

  <mat-list-item class="about__item">
      <mat-icon class="about__icon" matListIcon color="primary">
        <i class="far fa-file-pdf"></i>
      </mat-icon>
      <h3 class="about__header" matLine> Design </h3>
      <a class="about__link" matLine href="https://github.com/vladimirDobrik/Vladimir_Dobrik-project">
        <span>design.pdf</span>
      </a>
  </mat-list-item>
</mat-list>