<nav class="nav-menu__container">
  <currency-search class="search"></currency-search>
  <div class="nav-menu__links">
      <a class="nav-menu__link" routerLink="">
          <span class="nav-menu__link-label">Currencies</span>
      </a>
      <a class="nav-menu__link" routerLink="/calculator">
          <span class="nav-menu__link-label">Calculator</span>
      </a>
      <a class="nav-menu__link" routerLink="/about">
          <span class="nav-menu__link-label">About</span>
      </a>
      <a class="nav-menu__link" routerLink="">
          <span class="nav-menu__link-label">Favorite</span>
      </a>
  </div>
</nav>
