.currencies {
    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 10px;
        font-size: 20px;
        overflow: scroll;
        height: 85vh;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    &__currency {
        padding: 8px;
    }
}

.currency {
    &__icon {
        margin-right: 15px;
        color: #fff;
    }

    &__abbr {
        font-family: sans-serif;
        margin-right: 15px;
        color: #296A8A;

        &--selected {
            color: #292929;
        }
    }

    &__dif {
        display: inline-block;
        color: #fff;
        padding: 5px 10px;
        border: 1px solid #fff {
            radius: 5px;
        }

        &--increased {
            background-color: #00b815;
        }

        &--decreased {
            background-color: #F7231F;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        text-decoration: none;
        align-items: center;

        &:hover {
            background-color: rgba($color: #fff, $alpha: .7);
        }

        &--selected {
            background-color: #FFC107;
        }
    }

    &__rate {
        margin-right: 15px;
        color: #296A8A;

        &--selected {
            color: #292929;
        }
    }
}
