.search {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__input {
    padding: 5px;
    width: 245px;
    height: 22px;
    background-color: #001447;
    color: #fff;
    outline: none;
    border: 1px solid gray {
      radius: 8px;
    }
    font: {
      style: italic;
      size: 16px;
    }

    &:hover {
      outline: 1px solid #fff;
    }
  }

  &__result {
    position: absolute;
    margin-top: 0;
    padding-left: 0;
  }
}

.result {
  &__item {
    font-size: 12px;
    border: {
      bottom: 1px solid gray;
      left: 1px solid gray;
      right: 1px solid gray;
    }
    width: 245px;
    height: 22px;
    padding: 5px;
    background-color: #001447;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: #fff;
    }
  }

  &__abbreviation {
    color: red;
    margin-right: 5px;
  }

  &__link {
    color: #296A8A;
    display: block;
    text-decoration: none;

    &:active {
      color: white;
    }
  }
}